.containerTwo {
  flex: 1;
  background-color: #f8ac5b;
  height: 100vh;
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
    &.active {
      color: #007AFF;
    }
  }
}