.containerTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f85bde;
  height: 100vh;
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
    &.active {
      color: #007AFF;
    }
  }
}